@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: '#F2F2F2';
    --color-text: '#0C0E16';
    --color-text-muted: '#888EB0';
    --color-text-accent: '#7E88C3';
    --color-button: '#7C5DFA';
    --color-button-hover: '#9277FF';
    --color-button-3: '#F9FAFE';
    --color-button-3-hover: '#DFE3FA';
    --color-button-4: '#DFE3FA';
    --color-button-4-hover: '#0C0E16';
    --color-button-5: '#EC5757';
    --color-button-5-hover: '#FF9797';
    --color-button-6: '#F9FAFE';
    --color-button-6-hover: '#DFE3FA';

    font-family: 'Spartan', sans-serif;
  }
}
